<link rel="stylesheet" href="https://members.oreilly.com/css/noscript.css">

<noscript>
  <div id="widget_status">
    <h1><%= t '.title' %></h1>
    <p><%= t '.enable_javascript' %></p>
  </div>
</noscript>

<div id="widget_status" style="display:none">
  <h2><%= t '.title' %></h2>
  <%= t '.description_html' %>
</div>

<div id="widget_loading" style="display:none">
  <div class="loading_msg"><%= t '.widget_loading' %></div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var widget_status = document.getElementById('widget_status');
    var widget_loading = document.getElementById('widget_loading');
    var attemptsRemaining = 30;
    var showWarningAt = attemptsRemaining - 10;
    function checkForWidget() {
      if (attemptsRemaining >= 0) {
        attemptsRemaining--;
        if (typeof window.widgetReady === 'undefined') {
          if (attemptsRemaining <= showWarningAt) {
            widget_loading.style.display = 'none';
            widget_status.style.display = '';
          } else {
            widget_loading.style.display = '';
          }
          setTimeout(checkForWidget, 1000);
        } else {
          widget_loading.style.display = 'none';
          widget_status.style.display = 'none';
        }
      } else {
        widget_loading.style.display = 'none';
        widget_status.style.display = '';
      }
    }
    checkForWidget();
  });
</script>

<div id="loading" style="display:none">
  <div id="captureRetrievingUserDataBuiltIn"
    class="janrain-capture-ui capture-ui-content capture_screen_container"><div class="capture_retrieving">
      <%= t '.retrieve_user_data' %>
    </div>
  </div>
</div>
