<% @resource_name ||= devise_resource_name %>

<% if !signed_in?(@resource_name) && display_janrain_widget? %>
  <%= render 'capturable/login_ajax' %>
  <script>
  function janrainCaptureWidgetOnLoad() {
    janrain.settings.capture.flowName = 'signIn';
    janrain.settings.capture.responseType = 'code';
    janrain.capture.ui.start();

    janrain.events.onCaptureLoginSuccess.addHandler(function(result) {
      if (result.authorizationCode){
        janrain.capture.ui.modal.close();
        $('#login').html($('#loading').html());
        sendAuthorizationCodeToServer(result.authorizationCode, 'skip');
      }else if (result.accessToken){
        janrain.capture.ui.createCaptureSession(result.accessToken);
      }
    });
    janrain.events.onCaptureRegistrationSuccess.addHandler(function(result) {
      if(result.authorizationCode){
        janrain.capture.ui.modal.close();
        $('#login').html($('#loading').html());
        sendAuthorizationCodeToServer(result.authorizationCode, 'skip');
      }else if(result.accessToken){
        janrain.capture.ui.createCaptureSession(result.accessToken);
      }
    });
    janrain.events.onCaptureScreenShow.addHandler(function(result) {
      if (result.screen == 'returnTraditional') {
        var span = document.getElementById('traditionalWelcomeName');
        var name = janrain.capture.ui.getReturnExperienceData('displayName');
        if (span && name) {
          span.innerHTML = "Hi " + name;
        }
      }
    });
    janrain.events.onCaptureRenderComplete.addHandler(function(result) {
      window.widgetReady = true;
    });
    janrain.events.onCaptureSessionEnded.addHandler(function() {
      window.location = window.janrain.settings.capture['federateLogoutUri'];
    });

    <%= render partial: 'capturable/backplane', formats: [:js] %>
  };
  </script>
  <style>
    #janrainCaptureWidget { display: none; }
  </style>
  <script src="<%= janrain_widget_url %>" id="janrainCaptureScript">
  </script>
  <a href="#" id="capture_signin_link" class="signInLink capture_modal_open">Sign In/Sign Up</a>
<% end %>
<% if signed_in? @resource_name %>
  <script>
  function janrainCaptureWidgetOnLoad() {
    janrain.settings.capture.flowName = 'signIn';
    janrain.settings.capture.responseType = 'code';
    janrain.capture.ui.start();

    janrain.events.onCaptureSessionEnded.addHandler(function() {
      window.location = window.janrain.settings.capture['federateLogoutUri'];
    });

    <%= render partial: 'capturable/backplane', formats: [:js] %>
  };
  </script>
  <style>
    #janrainCaptureWidget { display: none; }
  </style>
  <script src="<%= janrain_widget_url %>" id="janrainCaptureScript">
  </script>
  <a href="#" class="signOutLink capture_end_session">Sign Out</a>
<% end %>
